requests==2.21.0
testing.common.database==2.0.3
Werkzeug==0.15.2
SQLAlchemy_Utils==0.33.6
Flask==1.0.2
Flask_Migrate==2.1.1
cryptography==2.6.1
SQLAlchemy==1.1.14
Flask_Cors==3.0.7
pytest==4.4.2
boxsdk==2.2.1
Flask_Script==2.0.6
Flask_SQLAlchemy==2.3.2
python-dotenv==0.10.2
flask_mail==0.9.1
PyJWT==1.7.1
typing==3.6.6
