.table {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #d8d8d8;
}

td {
  width: 40%;
}

td .interaction {
  width: auto;
}

Button {
  margin: 1%;
}

.modal-footer Button {
  margin-right: 1px;
}