@import "variables.scss";

body {
    background: url(../media/dashboard_bg.svg) no-repeat center center;
    background-size: cover; 
    background-attachment: fixed;
}

.due-date {
    color: $accepted_color;
    font-family: rubik;
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 1%;
}