#review-fullscreen {
    padding: 1% 0;
    background-color: white;
}

#button-space {
    text-align: center;
    margin: auto;
}

#modal-box {
    min-height: 55vh;
    overflow: scroll;
}

.iframe-relative {
    /* overrides inline styling from box iframe */
    width: 100%;
    min-height: 50vh;
    position: relative !important;
}
