@import "variables.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-pending {
  background-color: $pending-color;
}

.background-approved {
  background-color: $accepted-color;
}

.background-missing, .background-null {
  background-color: $missing-color;
}

.background-rejected {
  background-color: $rejected-color;
}

.theader-centered {
  text-align: center;
}

.text-white {
  color: white;
}

.center-background {
  margin-left: auto;
  margin-right: auto;
}

.left, .right {
  display: inline-block; 
  zoom: 1;
  width:40%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  position: absolute;
  left: 30px;
}

.right {
  position: absolute;
  right: 30px;
}