html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.background-pending {
  background-color: #E0A728; }

.background-approved {
  background-color: #4FAF4E; }

.background-missing, .background-null {
  background-color: #B7BCB5; }

.background-rejected {
  background-color: #E54C4C; }

.theader-centered {
  text-align: center; }

.text-white {
  color: white; }
