.flag {
    margin-left: 1%;
}

.sandwich {
    margin-left: 8%;
    margin-top: 1%
}

.sidebar-root {
    margin-left: 89.5%;
    margin-top: 0.9%
}

.sidebar-sidebar {
    position: "absolute";
    top: 0;
    bottom: 0;
    transition: "transform .3s ease-out";
}

.sidebar-content {
    position: "relative";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: "right .3s ease-out, left .3s ease-out"
}