.flag {
    margin-left: 1%;
}

.sandwich {
    margin-left: 8%;
    margin-top: 1%;
}

.sidebar-root {
    overflow: visible !important;
    margin-left: 89.5%;
    margin-top: 0.9%;
}

.sidebar-styles {
    background: white;
    margin-top: 1%
}

.langSelect{
    margin-right: 2%;
    min-width: 170px;
}

.flag-space {
   margin-right: 1%;
   max-width: 35px;
   max-height: 35px;
   float: right;
   margin-top: -3.3%;
}

.nav-absolute {
    position: absolute;
    z-index: 999;
}

.nav-bar {
    display: none;
}