@import "variable.scss";

.person-name {
  color: $accepted_color;
}

// Different from notif-description in case later
// we need differing styles for the time vs. description
.time {
  color: $gray_text_color;
}

.notif-description {
  color: $gray_text_color;
}