@import "variables.scss";

.react-tabs__tab-list {
    width: 100%;
    text-align: center;
}

/* override react-tab styling from pm dashboard page */
.react-tabs__tab--selected {
    margin: 0;
    border-bottom: 10px solid $accepted-color;
}

.tab {
    display: inline;
    padding: 0.5rem 2.25rem;
}

.tab-font {
    font-size: 25px;
    font-weight: 500;
}

.exit-button-wrapper {
    float: right;
}

.exit-button {
    max-width: 15px;
    max-height: 15px;
}