@import "variables.scss";

/* prevent overlap of css styles */
.notifications-tabs .react-tabs__tab-list {
    width: 100%;
    text-align: center;
}

/* override react-tab styling from pm dashboard page */
.notifications-tabs .react-tabs__tab--selected {
    margin: 0;
    border-bottom: 7px solid $accepted-color;
    text-align: center;
}

.notifications-tabs .tab {
    display: inline-block;
    width: 50%;
    padding: 7px 0;
}

.notifications-tabs .tab-font {
    font-size: 16pt;
    font-weight: 400;
}

.list-group-item .exit-button-wrapper {
    position: absolute;
    top: 0;
    right: 1px;
    float: right;
}

.exit-button {
    max-width: 15px;
    max-height: 15px;
}

.instruction {
    width: 85%;
}

.instruction p, .instruction b {
    padding-left: 5px;
}

.kiva-icon {
    /* same as partner-icon, but with green background */
    display: block;
    height:60px;
    width: 60px;
    background-color: $accepted-color;
    border-radius: 100%;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    border: none;
    margin: 0% 2%;
}