@import "variables.scss";

.person-name {
  color: $accepted_color;
}

// Different from notif-description in case later
// we need differing styles for the time vs. description
.time {
  color: $gray_text_color;
}

.react-tabs__tab-panel .list-group-item {
  padding: 2% 1%;
  display: flex;
  align-items: center;
}

.list-group-item .partner-icon, .list-group-item .notif-info {
  display: inline-block;
}

.list-group-item .partner-icon {
  margin-right: 6%;
}

.notif-info {
  width: 70%;
}

.notif-info p {
  margin: 2px 0;
}

.notif-description {
  color: $gray_text_color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}