@import "variables.scss";

.progress > .bg-dashgrey {
    background-color: $missing-color;
}

.progress > .bg-dashgreen {
    background-color: $accepted-color;
}

.progress > .bg-dashred {
    background-color: $rejected-color;
}

.progress > .bg-dashorange {
    background-color: $pending-color;
}
  

.page {
    text-align: center ;
    font-family: rubik;
}

.page h2 {
    // font-weight: bold;
    color: $accepted-color;
    font-size: 5rem;
}


.input-master {
    border: none;
    border-bottom: $shadow-color solid 1px;
    background-color: transparent;
    width: 23%; 
    text-indent: 5px;
    margin: 0;

}

::placeholder{text-indent: 40px; font-size: large; } 

.tab-master {
    margin-top: 4%;
}

.partnerPanel {
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30%;
    /*grid-template-rows: 60% 60%;*/
    grid-column-gap: 2%;
    grid-row-gap: 8%;
    margin-top: 2%;
}

.partnerBox {
    padding: 4%;
    padding-left: 0;
    padding-right: 0;
    background-color: $background-color;
    border-radius: 26px;
    box-shadow: 0px 0px 7px 1px $shadow-color;
    display: flex;
    flex-flow: row;
}

.partnerBox .nameProgressDisplay {
    font-size: x-large;
    width: 60%;
    text-align: left;
}

.partnerBox .iconBox {
    height:inherit;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $link-color;
    border-radius: 50%;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 2%;
    margin-right: 4%;
    zoom: 150%;
}

.partnerBox .duedate {
    font-size: x-large;
    width: 15%;
}

.partnerBox .due {
    font-size: x-large;
}

.progressAdditional {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.progress {
    width: 80%;
    margin: 2%;
}

.react-tabs__tab-list {
    border-bottom: none;
    font-size: 2rem;
}

.react-tabs__tab {
    border: none;
    color: $gray-text-color;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 50px;
}

.react-tabs__tab--selected {
    background: none;
    border-bottom: 1px solid;
    border-color: $accepted-color;
    color: $accepted-color;
}
