$pending-color: #E0A728;
$rejected-color: #E54C4C;
$accepted-color: #4FAF4E;
$missing-color: #B7BCB5;
$background-color: #F6F6F6;
$link-color: #4F89E9;
$hover-link-color: rgba(79, 137, 233, 0.3);

$shadow-color: rgba(141, 141, 141, 0.979);