version: 2
jobs:
  backend_format:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          command: |
            cd backend
            pip install -r requirements-dev.txt --user
            /home/circleci/.local/bin/black . --check 
  backend_test:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          command: |
            cd backend
            virtualenv venv
            source venv/bin/activate
            pip install -r requirements.txt 
            pip install -r requirements-dev.txt
            pip list
            type -a pytest
            python3 -m pytest tests
  frontend_format:
    docker:
      - image: node:8.4.0
    steps:
      - checkout
      - run:
          command: |
            cd frontend
            npm install
            npm run format:check
  frontend_test:
    docker:
      - image: node:8.4.0
    steps:
      - checkout
      - run:
          command: |
            cd frontend
            npm install
            npm run test
workflows:
  version: 2
  build-test:
    jobs:
      - frontend_test
      - frontend_format
      - backend_format
      - backend_test